<template>
  <footer class="footer">
    <div class="container">
      <div class="content">
        <div class="logo">
          <a href="/">
            <img src="@assets/telemice-logo-white.svg" alt="telemice" />
          </a>
        </div>
        <div class="nav">
          <navigation-menu
            v-for="(item, index) in navigationLinks"
            :links="item"
            :key="index"
          />
        </div>
        <div class="feedback">
          <div class="phone">
            <a href="tel:88432211234">8 843 221 12 34</a>
          </div>
          <div class="email">
            <a href="mailto:info@telemice.com">info@telemice.com</a>
          </div>
          <social-links :links="socialLinks" v-once />
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { faVk } from "@fortawesome/free-brands-svg-icons/faVk";
import { faFacebookF } from "@fortawesome/free-brands-svg-icons/faFacebookF";
import { faYoutube } from "@fortawesome/free-brands-svg-icons/faYoutube";
import SocialLinks from "./SocialLinks";
import NavigationMenu from "./NavigationMenu";

const SOCIAL_LINKS = [
  {
    href: "#1",
    icon: faVk
  },
  {
    href: "#2",
    icon: faFacebookF
  },
  {
    href: "#3",
    icon: faYoutube
  }
];

const NAVIGATION_LINKS = [
  [
    {
      href: "#1",
      title: "О проекте"
    },
    {
      href: "#2",
      title: "Мероприятия"
    },
    {
      href: "#3",
      title: "Тарифы"
    }
  ],
  [
    {
      href: "#1",
      title: "Пресс-центр"
    },
    {
      href: "#2",
      title: "Контакты"
    }
  ]
];

export default {
  components: {
    SocialLinks,
    NavigationMenu
  },
  computed: {
    socialLinks() {
      return SOCIAL_LINKS;
    },
    navigationLinks() {
      return NAVIGATION_LINKS;
    }
  }
};
</script>

<style lang="scss" scoped>
.footer {
  background: $black;
  padding: 35px 0 25px;
  color: $white;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.feedback {
  margin-left: 140px;
  .phone {
    margin-bottom: 10px;
    a {
      color: $white;
      font-weight: bold;
      font-size: 28px;
      line-height: 30px;
    }
  }
  .email {
    margin-bottom: 25px;
    a {
      color: #005fcf;
    }
  }
  @media screen and (max-width: 1400px) {
    margin-left: auto;
  }
}
</style>
