<template>
  <div class="user-info">
    <span class="text">Баланс счета</span>
    <strong class="balance">{{ balance }} ₽</strong>
    <router-link to="/" class="balance-router">
      <base-icon-add />
    </router-link>
    <router-link to="/profile">
      <base-avatar class="avatar" text="Орг" />
    </router-link>
    <base-dots-dropdown
      :dropdown="[{ name: 'Выйти', value: 'exit' }]"
      :handle-action="() => {}"
    />
  </div>
</template>

<script>
import BaseAvatar from "@/components/Base/Avatar";
import BaseDotsDropdown from "@/components/Base/DotsDropdown";
import BaseIconAdd from "@/components/Base/IconAdd";

export default {
  props: {
    balance: {
      type: Number,
      default: 0
    }
  },
  components: {
    BaseAvatar,
    BaseIconAdd,
    BaseDotsDropdown
  }
};
</script>

<style scoped lang="scss">
.user-info {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 12px;
  color: #6e6d75;
  font-weight: 500;
}

.balance {
  margin-right: 12px;
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  margin-right: 16px;
}

.logout {
  color: $util-ui;
  font-size: 18px;
  cursor: pointer;
}

.balance-router {
  margin-right: 24px;
  height: 18px;
}
</style>
