<template>
  <component
    :is="defineElement"
    :[defineAttr]="defineLink"
    :class="['base-link', disabledClass]"
  >
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    useRouter: Boolean,
    disabled: Boolean,
    link: {
      type: String,
      default: ""
    }
  },
  computed: {
    defineElement() {
      return this.useRouter ? "router-link" : "a";
    },
    defineAttr() {
      return this.useRouter ? "to" : "href";
    },
    defineLink() {
      return this.disabled ? "javascript: return false;" : this.link;
    },
    disabledClass() {
      return this.disabled ? "disable" : "";
    }
  }
};
</script>
