@include b(select-dropdown) {
  @include e(item) {
    font-size: $font-size-root;
    padding: 0 16px;
    color: $secondary-color;
    font-weight: 500;

    @include when(disabled) {
      color: $--select-option-disabled-color;
      cursor: not-allowed;

      &:hover {
        background-color: $--color-white;
      }
    }

    &.hover, &:hover {
      background-color: transparent;
      color: $primary-hover-color;
    }

    &.selected {
      color: $primary-color;
      font-weight: 500;
    }
  }
}
