<template>
  <article class="event">
    <header class="info-wrapper">
      <strong class="title">{{ event.title || event.name }}</strong>
      <div class="icon-wrapper"></div>
    </header>
    <footer class="actions">
      <span class="date">09.09.2019</span>
      <slot name="action" />
    </footer>
  </article>
</template>

<script>
export default {
  props: {
    event: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
.event {
  border-radius: $common-border-radius;
  background: $white-color;
  border: 1px solid #f1f1f1;
  padding: 16px 16px 22px 24px;
  display: flex;
  flex-direction: column;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  margin-right: 50px;
}

.icon-wrapper {
  flex-basis: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f7;
  border-radius: 50%;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.date {
  color: #b6b5ba;
  margin-right: 20px;
}
</style>
