@include b(radio) {
  color: $secondary-color;
  font-weight: 500;
  font-size: 14px;

  @include e(input) {

    @include when(checked) {
      .el-radio__inner {
        border-color: $border-color;
        background: $white-color;

        &::after {
          background: $primary-color;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .el-radio__label {
        color: $secondary-color;
      }
    }

    @include when(focus) {
      .el-radio__inner {
        border-color: $border-color;
        background: $white-color;
        &::after {
          background: $primary-color;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
  @include e(inner) {
    border: 1px solid $border-color;
    width: 24px;
    height: 24px;
    background-color: $white-color;

    &::after {
      width: 10px;
      height: 10px;
      background-color: $border-color;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }

    &:hover {
      border-color: $border-color;
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    .el-radio__inner {
      box-shadow: none;
    }
  }

  @include e(label) {
    font-size: 14px;
  }
}
