<template>
  <header :class="['header', { active: activeScroll }]">
    <div class="container">
      <div :class="['content', { active: activeScroll }]">
        <header-logo :logo="headerLogo" />
        <header-links :is-active="activeScroll" />
        <header-menu :is-active="activeScroll" :show-aside="showAside" />
      </div>
    </div>
  </header>
</template>

<script>
import { mapActions } from "vuex";
import HeaderLogo from "./Logo";
import HeaderLinks from "./Links";
import HeaderMenu from "./Menu";
export default {
  components: {
    HeaderLogo,
    HeaderLinks,
    HeaderMenu
  },
  data() {
    return {
      scrollPosition: null
    };
  },
  methods: {
    ...mapActions("app", ["asideToggle", "setAsideType"]),
    showAside(component = "LandingLogin") {
      this.setAsideType(component);
      this.asideToggle();
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    }
  },
  computed: {
    activeScroll() {
      return this.scrollPosition > 150;
    },
    headerLogo() {
      return this.activeScroll
        ? require("@assets/telemice-logo.svg")
        : require("@assets/telemice-logo-white.svg");
    }
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.updateScroll);
  }
};
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 999;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.active {
      height: 90px;
    }
  }
  &.active {
    background: $white;
    top: 0;
    height: 90px;
  }
}
</style>
