<template>
  <div class="table">
    <div class="row">
      <div class="col">Название</div>
      <div class="col">Конференция бухгалтеров 2019</div>
    </div>
    <div class="row">
      <div class="col">Иконка</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">Тип события</div>
      <div class="col">Конференция</div>
    </div>
    <div class="row">
      <div class="col">Дата</div>
      <div class="col">01.01.2019 - 02.01.2019</div>
    </div>
    <div class="row">
      <div class="col">Время</div>
      <div class="col">09.00 - 18.00</div>
    </div>
    <div class="row">
      <div class="col">Место проведения</div>
      <div class="col">Пушкина</div>
    </div>
    <div class="row">
      <div class="col">Тариф</div>
      <div class="col">Базовый</div>
      <div class="action">
        <button class="action-button">
          <base-icon :icon="$options.icon" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { faPen } from "@fortawesome/free-solid-svg-icons/faPen";

export default {
  icon: faPen
};
</script>

<style scoped lang="scss">
.table {
  background: $white-color;
  border: 1px solid #ededed;
  border-radius: $common-border-radius;
  box-shadow: 0px 2px 5px rgba(233, 233, 233, 0.255661);
  > .row {
    display: flex;
    padding: 17px 24px;
    border-bottom: 1px solid #ededed;
    > .col {
      &:first-child {
        flex: 1;
        font-weight: 600;
      }
      &:nth-child(2) {
        flex: 5;
        font-weight: 500;
      }
    }
    > .action {
      margin-left: auto;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.action-button {
  background: #f7f7f9;
  border-radius: $common-border-radius;
  outline: none;
  border: none;
  color: $primary-color;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.9;
  }
}
</style>
