@import "../settings/colors";
@import "../settings/variables";

/* theme color */
$--color-primary: $primary-color;
$--checkbox-border-radius: $common-border-radius;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "button/index";
@import "checkbox/index";
@import "radio/index";
@import "notification/index";
@import "input/index";
@import "select/index";
@import "drawer/index";
@import "dropdown/index";
@import "form/index";
@import "radio-group/index";
@import "radio-button/index";

