<template>
  <div class="header-links">
    <ul :class="['links-list', { active: isActive }]">
      <li v-for="item in links" :key="item.id" class="link">
        <a class="href" href="#" v-scroll-to="'#' + item.scroll">
          {{ item.link }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    isActive: Boolean
  },
  data() {
    return {
      links: [
        {
          link: "О проекте",
          to: "#href",
          scroll: "service"
        },
        {
          link: "Организованные мероприятия",
          to: "#href",
          scroll: "test"
        },
        {
          link: "Тарифы",
          to: "#href",
          scroll: "test"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.header-links {
  display: flex;
  align-items: center;
}
.links-list {
  margin: 0;
  padding: 0;
  .link {
    display: inline-flex;
    list-style: none;
    > .href {
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
      color: $white;
    }
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &.active {
    .link > .href {
      color: $black;
    }
  }
}
</style>
