@include b(checkbox) {
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: 1px solid $border-color;
    width: 24px;
    height: 24px;
    &::after {
      border-style: solid;
      border-color: transparent;
      border-width: 0 2px 2px 0;
      height: 10px;
      left: 7px;
      top: 4px;
      width: 5px;
      transition: border-color .3s;
    }

    &:hover {
      border-color: $border-color;
      &:after {
        transform: rotate(45deg) scaleY(1);
        border-color: $border-color;
      }
    }
  }
  @include when(checked) {
    .el-checkbox__inner {
      background-color: $white-color;
      border-color: $border-color;

      &::after {
        transform: rotate(45deg) scaleY(1);
        border-color: $primary-color;
      }
    }

    & + .el-checkbox__label {
      color: $secondary-color;
    }
  }
  @include when(focus) {
    .el-checkbox__inner {
      border-color: $border-color;
    }
  }
  @include e(input) {
    @include when(focus) {
      .el-checkbox__inner {
        border-color: $border-color;
      }
    }
    @include when(checked) {
      & + .el-checkbox__label {
        color: $secondary-color;
      }
    }
  }
  @include e(label) {
    color: $secondary-color;
    font-weight: 500;
  }
}