<template>
  <aside-template>
    <div class="recovery">
      <p class="title">Восстановление пароля</p>
      <base-form
        label-position="top"
        :rules="validatorRules"
        ref="recoveryForm"
        :model="model"
      >
        <base-form-item label="Email" prop="email">
          <base-input v-model="model.email" type="email" />
        </base-form-item>
        <base-button
          type="primary"
          class="login-button"
          @click="recoveryPassword"
          >Восстановить пароль</base-button
        >
      </base-form>
    </div>
  </aside-template>
</template>

<script>
import { mapActions } from "vuex";
import AsideTemplate from "../../index";
import { email } from "@/constants/validators";

export default {
  components: {
    AsideTemplate
  },
  data() {
    return {
      model: {
        email: ""
      }
    };
  },
  methods: {
    ...mapActions("auth", ["recoveryPasswordAction"]),
    recoveryPassword() {
      this.$refs.recoveryForm.validate(valid => {
        if (!valid) {
          return;
        }

        this.recoveryPasswordAction(this.model);
      });
    }
  },
  computed: {
    validatorRules() {
      return { email };
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 72px;
}

.password-item {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  margin-left: auto;
  display: block;
  margin-top: 8px;
}

.login-button {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.reg-button {
  margin: 0 auto;
  display: block;
}

.action-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.action-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  > .symbol {
    color: #ff3b30;
  }
}
</style>
