<template>
  <header class="main-header">
    <base-logo />
    <user-info />
  </header>
</template>

<script>
import BaseLogo from "@/components/Base/Logo";
import UserInfo from "./UserInfo";

export default {
  components: {
    BaseLogo,
    UserInfo
  }
};
</script>

<style scoped lang="scss">
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 89px;
  /*margin-bottom: 50px;*/
}
</style>
