<template>
  <section>
    <events-container type="my" :events="myEvents" />
    <events-container type="all" :events="[]" />
    <events-container type="archive" :events="archiveEvents" />
  </section>
</template>

<script>
import { mapActions, mapState } from "vuex";
import EventsContainer from "@/components/Page/Events/Container";

export default {
  components: {
    EventsContainer
  },
  methods: {
    ...mapActions({
      getMyEvents: "events/getMyEvents",
      getArchiveEvents: "events/getArchiveEvents"
    })
  },
  computed: {
    ...mapState({
      myEvents: state => state.events.myEvents,
      archiveEvents: state => state.events.archiveEvents
    })
  },
  async created() {
    await this.getMyEvents();
    await this.getArchiveEvents();
  }
};
</script>
