.el-form-item__label {
    padding: 0 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    margin-bottom: 10px !important;
    color: $black !important;
}