<template>
  <div class="social">
    <div class="social-item" v-for="item in links" :key="item.href">
      <a :href="item.href">
        <base-icon :icon="item.icon" class="icon" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    links: {
      type: Array,
      require: true
    }
  }
};
</script>

<style scoped lang="scss">
.social {
  display: flex;
  align-items: center;
  &-item + &-item {
    margin-left: 35px;
  }
  .icon {
    font-size: 17px;
    color: $white;
  }
}
</style>
