<template functional>
  <div class="aside-container">
    <p class="title">{{ props.title }}</p>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default() {
        return "";
      }
    }
  }
};
</script>

<style scoped lang="scss">
.title {
  font-size: 32px;
  margin: 0 0 45px;
  font-weight: bold;
}
</style>
