@include b(drawer) {
  background-color: $white-color;
  box-shadow: none;
  padding: 40px;
  overflow-y: auto;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black-color;
    margin-bottom: 38px;
    padding: 0;
    & > :first-child {
      flex: 0;
    }
  }

  &__close-btn {
    color: #757575;
    font-size: 18px;
  }
}

.v-modal {
  opacity: .95;
  background: $modal-background;
}