<template>
  <aside-template title="Создать мероприятие">
    <base-form label-position="top" class="form">
      <base-form-item label="Название">
        <base-input />
      </base-form-item>
      <base-form-item label="Иконка">
        <base-select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </base-select>
      </base-form-item>
      <base-form-item label="Тип события">
        <base-select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </base-select>
      </base-form-item>
      <base-row :gutter="12">
        <base-col :span="12">
          <base-form-item label="Дата с">
            <base-select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </base-select>
          </base-form-item>
        </base-col>
        <base-col :span="12">
          <base-form-item label="по">
            <base-select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </base-select>
          </base-form-item>
        </base-col>
      </base-row>
      <base-row :gutter="12">
        <base-col :span="12">
          <base-form-item label="Время с">
            <base-select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </base-select>
          </base-form-item>
        </base-col>
        <base-col :span="12">
          <base-form-item label="по">
            <base-select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </base-select>
          </base-form-item>
        </base-col>
      </base-row>
      <base-form-item label="Место проведения">
        <base-input />
      </base-form-item>
      <base-form-item label="Тип посещения">
        <base-select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </base-select>
      </base-form-item>
      <div class="action-wrapper">
        <p class="action-text">
          <span class="symbol">*</span> - поле, обязательное для заполнения
        </p>
        <base-button type="primary">Создать</base-button>
      </div>
    </base-form>
  </aside-template>
</template>

<script>
import AsideTemplate from "../../index";

export default {
  components: {
    AsideTemplate
  }
};
</script>

<style lang="scss" scoped>
.action-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.action-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  > .symbol {
    color: #ff3b30;
  }
}
</style>
