<template>
  <div class="section section-advantages">
    <div class="container">
      <div class="advantages">
        <div class="title">
          Преимущества.
        </div>
        <div class="list">
          <div v-for="item in list" :key="item.title" class="item">
            <div class="emoji">
              {{ item.emoji }}
            </div>
            <div class="title">
              {{ item.title }}
            </div>
            <div class="description">
              {{ item.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          emoji: "🤖",
          title: "Создание лендинга",
          description:
            "Создайте собственный лендинг для привлечения гостей на мероприятие"
        },
        {
          emoji: "👁",
          title: "Обработка заявок",
          description:
            "Создайте собственный лендинг для привлечения гостей на мероприятие"
        },
        {
          emoji: "🃏",
          title: "Конструктор бейджей",
          description:
            "Создайте собственный лендинг для привлечения гостей на мероприятие"
        },
        {
          emoji: "📱",
          title: "Мобильное приложение",
          description:
            "Создайте собственный лендинг для привлечения гостей на мероприятие"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.advantages {
  margin-bottom: 90px;
}
.title {
  font-size: 35px;
  line-height: 55px;
  font-weight: bold;
}
.list {
  display: flex;
  padding: 70px 0 190px;
  background: url("./assets/advantages-list-bg.png") no-repeat;
  .item {
    text-align: center;
    margin: 0 auto;
    .emoji {
      background: $primary-color;
      width: 180px;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 auto 40px;
      font-size: 50px;
    }
    .title {
      font-size: 24px;
      line-height: 31px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .description {
      max-width: 240px;
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
      color: #acacac;
    }
    &:first-child {
      position: relative;
      top: 30px;
    }
    &:nth-child(2) {
      position: relative;
      top: 120px;
    }
    &:last-child {
      position: relative;
      top: 60px;
    }
  }
}
</style>
