@import "~normalize.css/normalize.css";
@import "/settings/font";
@import "/settings/variables";
@import "settings/colors";
@import "/landing";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 400 $font-size-root $body-font-family;
    color: $black-color;
    background: $background-color;
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: $font-size-links;
    &:hover {
        color: $primary-hover-color;
    }
    &.disable {
        color: $disabled-link-color;
        cursor: default;
    }
}

.wrapper {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 30px 65px 0 55px;
}