<template>
  <div class="section section-service">
    <div class="container">
      <div class="service">
        <div class="info">
          <div class="title">
            Telemice — сервис для управления мероприятиями.
          </div>
          <div class="spacer"></div>
          <div class="subtitle">
            С его помощью вы можете создать лендинг и регистрировать ваших
            гостей на мероприятии
          </div>
        </div>
        <div class="images">
          <div class="img"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.section-service {
  overflow-x: hidden;
}
.service {
  display: flex;
  padding-top: 150px;
  margin-bottom: 90px;
}
.info {
  .title {
    max-width: 450px;
    margin-bottom: 55px;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
  }
  .subtitle {
    max-width: 450px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
  }
  .spacer {
    background: $primary-color;
    width: 100px;
    height: 4px;
    margin-bottom: 40px;
  }
}
.images {
  margin-left: auto;
  padding-top: 120px;
  .img {
    width: 760px;
    height: 430px;
    background: #0a3782;
    border-radius: 15px;
    position: relative;
    &:before {
      content: "";
      width: 800px;
      height: 430px;
      border-radius: 15px;
      background: $primary-color;
      position: absolute;
      left: -25px;
      top: 25px;
      z-index: -1;
      transform: rotate(-1deg);
    }
    &:after {
      content: "";
      width: 760px;
      height: 470px;
      background: url("./assets/service-img.png") no-repeat;
      background-size: contain;
      position: absolute;
      top: -50px;
      right: -30px;
      z-index: 2;
    }
  }
}
</style>
