<template>
  <div class="content">
    <section-head />
    <section-service id="service" />
    <section-advantages id="advantages" />
    <section-functions id="functions" />
    <section-subscription id="subscription" />
  </div>
</template>

<script>
import SectionHead from "./Head";
import SectionService from "./Service";
import SectionAdvantages from "./Advantages";
import SectionFunctions from "./Functions";
import SectionSubscription from "./Subscription";
export default {
  components: {
    SectionHead,
    SectionService,
    SectionAdvantages,
    SectionFunctions,
    SectionSubscription
  }
};
</script>

<style lang="scss" scoped>
.content {
  background: $white;
}
</style>
