<template>
  <div class="section section-functions">
    <div class="container">
      <div class="functions">
        <div class="info">
          <div class="title">
            Демо-режим — познакомьтесь с функциями.
          </div>
          <div class="spacer"></div>
          <div class="subtitle">
            С его помощью вы можете создать лендинг и регистрировать ваших
            гостей на мероприятии
          </div>
        </div>
        <div class="images">
          <button class="btn btn-demo">
            <span class="icon icon-rectangle" />
            Запустить демо
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.section-functions {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto 25px;
  height: 900px;
  background: url("./assets/ballons.png");
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  &:before {
    content: "";
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(9, 74, 148, 0.9);
    border-radius: 15px;
    @media screen and (max-width: 1600px) {
      border-radius: 0;
    }
  }
  @media screen and (max-width: 1600px) {
    border-radius: 0;
  }
}
.functions {
  display: flex;
  position: relative;
  z-index: 5;
  padding: 150px 0 0;
}
.info {
  color: $white;
  .title {
    max-width: 450px;
    margin-bottom: 55px;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
  }
  .subtitle {
    max-width: 450px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
  }
  .spacer {
    background: $primary-color;
    width: 100px;
    height: 4px;
    margin-bottom: 40px;
  }
}

.images {
  background: url("./assets/notebook.png") no-repeat center;
  background-size: cover;
  height: 595px;
  width: 100%;
  position: absolute;
  right: -220px;
  top: 180px;
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-demo {
    margin-top: 150px;
    background: $white;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #005fcf;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    .icon-rectangle {
      background: url("./assets/rectangle-btn.svg") no-repeat center;
      background-size: contain;
      display: inline-block;
      width: 15px;
      height: 12px;
    }
  }
}
</style>
