<template>
  <div class="section section-head">
    <div class="head">
      <div class="container">
        <div class="title">
          <h1>Сервис по обеспечению нетворкинга,&nbsp;</h1>
          <span>регистрации гостей и управления участниками мероприятия</span>
        </div>
        <div class="action">
          <button class="btn btn-try">Попробовать бесплатно</button>
        </div>
        <div class="conditions">
          <div class="condition-item">
            🔥 Бесплатный месяц
          </div>
          <div class="condition-item">
            🎉 Неограниченное количество мероприятий
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.head {
  width: 100%;
  background: linear-gradient(10.36deg, #001450 16.12%, #0a55aa 88.13%);
  position: relative;
  padding: 280px 0 50px;
  &:after {
    content: "";
    position: absolute;
    background: url("./assets/head-bg-dots.png") no-repeat center left;
    width: 100%;
    height: 650px;
    top: 145px;
    left: 0;
  }
  &:before {
    content: "";
    position: absolute;
    background: url("./assets/head-bg-planet.png") no-repeat bottom right;
    width: 100%;
    height: 520px;
    bottom: 0;
    right: 0;
  }
  .title {
    position: relative;
    z-index: 5;
    max-width: 1160px;
    color: $white;
    margin-bottom: 70px;
    > h1,
    span {
      font-size: 70px;
      line-height: 70px;
      font-weight: bold;
      display: contents;
    }
  }
  .action {
    position: relative;
    z-index: 5;
    margin-bottom: 120px;
    .btn-try {
      background: $white;
      padding: 20px 35px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      color: $primary-color;
    }
  }
  .conditions {
    display: flex;
    .condition-item {
      padding: 5px 15px;
      border: 1px solid $white;
      border-radius: 20px;
      font-size: 13px;
      line-height: 25px;
      color: $white;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
</style>
