<template>
  <div class="avatar">
    <base-ava v-bind="$attrs" />
    <span class="text" v-if="text">{{ text }}</span>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ""
    }
  }
};
</script>

<style scoped lang="scss">
.avatar {
  position: relative;
}

.text {
  position: absolute;
  bottom: 3px;
  right: 0;
  border-radius: 2px;
  padding: 3px;
  font-weight: bold;
  font-size: 7px;
  text-transform: uppercase;
  color: $white-color;
  background: $primary-color;
}
</style>
