<template>
  <profile-layout>
    <base-container>
      <base-aside width="280px">
        <!-- <base-menu :default-openeds="['1', '3']"> -->
        <base-menu>
          <base-submenu index="1">
            <template slot="title"
              ><i class="el-icon-message"></i>Информация</template
            >
            <base-menu-item-group>
              <template slot="title"
                >Group 1</template
              >
              <base-menu-item index="1-1">Option 1</base-menu-item>
              <base-menu-item index="1-2">Option 2</base-menu-item>
            </base-menu-item-group>
            <base-menu-item-group title="Group 2">
              <base-menu-item index="1-3">Option 3</base-menu-item>
            </base-menu-item-group>
            <base-submenu index="1-4">
              <template slot="title"
                >Option4</template
              >
              <base-menu-item index="1-4-1">Option 4-1</base-menu-item>
            </base-submenu>
          </base-submenu>
          <base-submenu index="2">
            <template slot="title"
              ><i class="el-icon-menu"></i>Администраторы</template
            >
            <base-menu-item-group>
              <template slot="title"
                >Group 1</template
              >
              <base-menu-item index="2-1">Option 1</base-menu-item>
              <base-menu-item index="2-2">Option 2</base-menu-item>
            </base-menu-item-group>
            <base-menu-item-group title="Group 2">
              <base-menu-item index="2-3">Option 3</base-menu-item>
            </base-menu-item-group>
            <base-submenu index="2-4">
              <template slot="title"
                >Option 4</template
              >
              <base-menu-item index="2-4-1">Option 4-1</base-menu-item>
            </base-submenu>
          </base-submenu>
          <base-submenu index="3">
            <template slot="title"
              ><i class="el-icon-setting"></i>Мероприятие</template
            >
            <base-menu-item-group>
              <base-menu-item index="3-1">Формы регистрации</base-menu-item>
              <base-menu-item index="3-2">Программа мероприятия</base-menu-item>
              <base-menu-item index="3-3">Лендинг мероприятия</base-menu-item>
              <base-menu-item index="3-4">Трансфер участников</base-menu-item>
              <base-menu-item index="3-4">Бейджи</base-menu-item>
              <base-menu-item index="3-4">Контроль доступа</base-menu-item>
            </base-menu-item-group>
          </base-submenu>
        </base-menu>
      </base-aside>
    </base-container>
  </profile-layout>
</template>

<script>
import ProfileLayout from "@/layouts/profile";
export default {
  components: {
    ProfileLayout
  }
};
</script>

<style scoped></style>
