<template>
  <div class="section section-subscription">
    <div class="container">
      <div class="subscription">
        <div class="title">
          Подпишись на новости о проекте.
        </div>
        <div class="form">
          <div class="form-item">
            <div class="email">
              <input type="text" placeholder="Email" class="subscribe-input" />
              <button class="btn btn-subscribe">
                asdfasdf
                <span class="subscribe-icon" />
              </button>
            </div>
          </div>
          <div class="form-item">
            <label class="checkbox">
              Даю согласие на обработку моих персональных данных в соответствие
              с <a>Политикой Конфиденциальности</a> и
              <a>Пользовательским соглашением.</a>
              <input type="checkbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.section-subscription {
  background: $black;
  padding: 150px 0 0;
}
.subscription {
  background: url("./assets/subscription-bg.png") no-repeat bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
  border-bottom: 1px solid #979797;
  .title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: $white;
    max-width: 520px;
    margin-bottom: 60px;
  }
}

.email {
  display: flex;
  margin-bottom: 35px;
}
.checkbox {
  width: 100%;
  max-width: 430px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #c1c1c1;
  padding-left: 30px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  a {
    color: #005fcf;
    &:hover {
      text-decoration: underline;
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: #005fcf;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.subscribe-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 20px 0 0;
  border-bottom: 1px solid #979797;
  color: $white;
  width: 100%;
  max-width: 330px;
}
.btn-subscribe {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid $white;
  padding-bottom: 20px;
  .subscribe-icon {
    background: url("./assets/btn.svg") no-repeat right;
    width: 40px;
    height: 50px;
    background-size: 120px;
    display: inline-block;
    &:active {
      position: relative;
      top: 2px;
    }
  }
}
</style>
