@include b(notification) {
  display: flex;
  align-items: center;
  width: auto;
  padding: 19px 15px;
  border-radius: 0 0 2px 2px;
  border: none;
  border-bottom: 4px solid transparent;
  box-shadow: 0 4px 8px rgba(123, 123, 123, 0.5);

  &.success {
    border-color: $success-color;
  }
  &.warning {
    border-color: $warning-color;
  }
  &.error {
    border-color: $error-color;
  }


  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(content) {
    font-size: 14px;
    line-height: 1;
    margin: 0;
    color: $secondary-color;

    p {
      margin: 0;
    }
  }

  @include e(icon) {
    height: auto;
    width: auto;
    font-size: 24px;
  }

  @include e(closeBtn) {
    top: 8px;
    right: 8px;
  }

  .el-icon-success {
    color: $success-color;
  }

  .el-icon-error {
    color: $error-color;
  }

  .el-icon-warning {
    color: $warning-color;
  }
}