<template>
  <ul class="nav-row">
    <li class="nav-col" v-for="item in links" :key="item.id">
      <a class="href" :href="item.href">{{ item.title }}</a>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    links: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
.nav {
  margin-left: 160px;
  display: flex;
  &-row {
    padding: 0;
    margin: 0;
  }
  &-col {
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 25px;
    list-style: none;
    .href {
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: $white;
    }
  }
  @media screen and (max-width: 1400px) {
    margin-left: auto;
  }
}
</style>
