<template>
  <aside-template>
    <div class="recovery">
      <p class="title">Регистрация</p>
      <base-radio-group v-model="model.userType" class="chooser">
        <base-radio-button :label="1">Орг. лицо</base-radio-button>
        <base-radio-button :label="2">Физ. лицо</base-radio-button>
      </base-radio-group>

      <base-form
        :model="model"
        label-position="top"
        :rules="validatorRules"
        ref="registrationForm"
      >
        <base-form-item
          label="Название организации"
          prop="organizerTitle"
          v-if="showOrganizationField"
        >
          <base-input v-model="model.organizerTitle" />
        </base-form-item>
        <base-row :gutter="12">
          <base-col :span="12">
            <base-form-item label="Имя" prop="firstName">
              <base-input v-model="model.firstName" />
            </base-form-item>
          </base-col>
          <base-col :span="12">
            <base-form-item label="Фамилия" prop="lastName">
              <base-input v-model="model.lastName" />
            </base-form-item>
          </base-col>
        </base-row>
        <base-form-item label="Отчество" prop="middleName">
          <base-input v-model="model.middleName" />
        </base-form-item>
        <base-form-item label="Адрес электронной почты" prop="email">
          <base-input type="email" v-model="model.email" />
        </base-form-item>
        <base-form-item label="Пароль" prop="password">
          <base-input type="password" show-password v-model="model.password" />
        </base-form-item>
        <base-button
          type="primary"
          class="login-button"
          :disabled="!formIsValid"
          @click="registrationAction"
          >Зарегистрироваться</base-button
        >
      </base-form>
    </div>
  </aside-template>
</template>

<script>
import debounce from "lodash/debounce";
import { mapActions } from "vuex";
import AsideTemplate from "../../index";
import { commonValidator } from "@/constants/validators";

const VALIDATOR_RULES = {
  organizerTitle: {
    required: true,
    message: "Поле обязательно для заполнения",
    trigger: "blur"
  },
  ...commonValidator
};

export default {
  data() {
    return {
      formIsValid: false,
      model: {
        userType: 1,
        organizerTitle: "",
        firstName: "",
        middleName: "",
        lastName: "",
        email: "",
        password: ""
      }
    };
  },
  components: {
    AsideTemplate
  },
  computed: {
    validatorRules() {
      return VALIDATOR_RULES;
    },
    showOrganizationField() {
      return this.model.userType === 1;
    }
  },
  watch: {
    model: {
      deep: true,
      handler() {
        this.checkValidation();
      }
    }
  },
  methods: {
    ...mapActions({
      signUp: "auth/signUp"
    }),
    checkValidation: debounce(function() {
      this.$refs.registrationForm.validate(valid => {
        this.formIsValid = valid;
        this.$refs.registrationForm.clearValidate();
      });
    }, 500),
    async registrationAction() {
      await this.signUp(this.model);
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.password-item {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  margin-left: auto;
  display: block;
  margin-top: 8px;
}

.login-button {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.reg-button {
  margin: 0 auto;
  display: block;
}

.action-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.action-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  > .symbol {
    color: #ff3b30;
  }
}

.chooser {
  margin-bottom: 24px;
}
</style>
