<template>
  <aside-template>
    <div class="login">
      <p class="title">Новый пароль</p>
      <base-form label-position="top">
        <base-form-item label="Новый пароль">
          <base-input />
        </base-form-item>
        <base-form-item label="Подтвердите пароль">
          <base-input />
        </base-form-item>
        <base-button type="primary" class="login-button"
          >Сменить пароль</base-button
        >
      </base-form>
    </div>
  </aside-template>
</template>

<script>
import AsideTemplate from "../../index";

export default {
  components: {
    AsideTemplate
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 72px;
}

.password-item {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  margin-left: auto;
  display: block;
  margin-top: 8px;
}

.login-button {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.reg-button {
  margin: 0 auto;
  display: block;
}

.action-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.action-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  > .symbol {
    color: #ff3b30;
  }
}
</style>
