<template functional>
  <div class="header-logo">
    <router-link to="/">
      <img :src="props.logo" alt="telemice" />
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    logo: {
      type: String,
      required: true
    }
  }
};
</script>
