$primary-color: #005FCF;
$primary-hover-color: #0055B9;
$primary-active-color: #0A55AA;
$disabled-color: #99989C;
$disabled-link-color: #808082;
$secondary-color: #2E2E36;
$black-color: #000;
$white-color: #fff;
$error-color: #DE5959;
$success-color: #0D8450;
$warning-color: #F8DF00;
$border-color: #E9E9E9;
// default colors
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$background-color: #F2F2F2;
$util-ui: #b5b5b6;
$modal-background: #0246A3;
$gray: #757575;