@include b(button) {
  border: 1px solid $primary-color;
  font-weight: bold;
  color: $primary-color;
  &:hover {
    border-color: $primary-hover-color;
    color: $primary-hover-color;
    background: $white-color;
  }

  &:active,
  &:focus {
    background: $white-color;
    border-color: $primary-active-color;
    color: $primary-active-color;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      background: $white-color;
      border-color: $disabled-color;
      color: $disabled-color;
      cursor: default;

    }
  }
}