@include b(button) {
  @include m(primary) {
    background: $primary-color;
    color: $white-color;
    border: 1px solid $primary-color;
    &:hover {
      background: $primary-hover-color;
      border-color: $primary-hover-color;
      color: $white-color;
    }
    &:active,
    &:focus {
      background: $primary-active-color;
      border-color: $primary-active-color;
      color: $white-color;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $white-color;
        background-color: $disabled-color;
        border-color: $disabled-color;
      }
    }
  }
}