@include b(button) {
  @include m(text) {
    border-color: transparent;
    color: $primary-color;
    font-size: 15px;
    background: transparent;
    padding: 0;
    font-weight: 400;

    &:hover,
    &:focus {
      color: $primary-hover-color;
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: $primary-active-color;
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }
}