<template>
  <base-dropdown trigger="click" @command="handleAction">
    <button class="action-wrapper">
      <base-icon
        :icon="$options.icon"
        class="action"
        :style="{ fontSize: this.size }"
      />
    </button>
    <base-dropdown-menu slot="dropdown">
      <base-dropdown-item
        v-for="item in dropdown"
        :key="item.value"
        :command="item.value"
        >{{ item.name }}</base-dropdown-item
      >
    </base-dropdown-menu>
  </base-dropdown>
</template>

<script>
import { faEllipsisV } from "@fortawesome/free-solid-svg-icons";

export default {
  icon: faEllipsisV,
  props: {
    dropdown: {
      type: Array,
      required: true
    },
    handleAction: {
      type: Function,
      required: true
    },
    size: {
      type: String,
      default: "18px"
    }
  }
};
</script>

<style scoped lang="scss">
.action {
  color: $util-ui;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: $primary-color;
  }
}

.action-wrapper {
  background: transparent;
  outline: none;
  border: none;
}
</style>
