<template>
  <component :is="dynamicLayout">
    <router-view />
  </component>
</template>

<script>
export default {
  components: {
    ServiceDefault: () => import("@/layouts/ServiceDefault"),
    ServiceInfoNavigation: () => import("@/layouts/ServiceInfoNavigation")
  },
  computed: {
    dynamicLayout() {
      return this.$route.meta.layout || "ServiceDefault";
    }
  }
};
</script>
