<template>
  <aside-template>
    <div class="login">
      <p class="title">Вход</p>
      <base-form
        label-position="top"
        :model="model"
        :rules="validatorRules"
        ref="loginForm"
      >
        <base-form-item label="Логин" prop="email">
          <base-input v-model="model.email" type="email" />
        </base-form-item>
        <base-form-item label="Пароль" class="password-item" prop="password">
          <base-input v-model="model.password" type="password" />
          <base-button
            type="text"
            class="forgot-password"
            @click="recoveryPassword()"
            >Забыли пароль?</base-button
          >
        </base-form-item>
        <base-button
          type="primary"
          class="login-button"
          @click="signIn"
          :disabled="!formIsValid"
          >Войти</base-button
        >
        <base-button type="text" class="reg-button" @click="getRegistration"
          >Регистрация</base-button
        >
      </base-form>
    </div>
  </aside-template>
</template>

<script>
import debounce from "lodash/debounce";
import { mapActions } from "vuex";
import AsideTemplate from "../../index";
import { commonValidator } from "@/constants/validators";

export default {
  components: {
    AsideTemplate
  },
  data() {
    return {
      model: {
        email: "",
        password: ""
      },
      formIsValid: false
    };
  },
  methods: {
    ...mapActions({
      setAsideType: "app/setAsideType",
      signIn: "auth/signIn"
    }),
    recoveryPassword() {
      this.setAsideType("LandingRecovery");
    },
    getRegistration() {
      this.setAsideType("LandingRegistration");
    },
    checkValidation: debounce(function() {
      this.$refs.loginForm.validate(valid => {
        this.formIsValid = valid;
        this.$refs.registrationForm.clearValidate();
      });
    }, 500)
  },
  watch: {
    model: {
      deep: true,
      handler() {
        this.checkValidation();
      }
    }
  },
  computed: {
    validatorRules() {
      return commonValidator;
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 72px;
}

.password-item {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  margin-left: auto;
  display: block;
  margin-top: 8px;
}

.login-button {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.reg-button {
  margin: 0 auto;
  display: block;
}

.action-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.action-text {
  margin: 0 5px 0 0;
  font-size: 14px;
  > .symbol {
    color: #ff3b30;
  }
}
</style>
