<template>
  <div class="chooser">
    <button
      :class="['button', { active: item.isActive }]"
      v-for="item in preparedList"
      :key="item.value"
      @click="selectValue(item.value)"
    >
      {{ item.title }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      selected: null
    };
  },
  computed: {
    preparedList() {
      if (this.selected === null) {
        return this.list;
      }
      return this.list.map(item => {
        item.isActive = this.selected === item.value;
        return item;
      });
    }
  },
  methods: {
    selectValue(val) {
      this.selected = val;
      this.$emit("selected", val);
    }
  }
};
</script>

<style scoped lang="scss">
.chooser {
  display: flex;
  border: 1px solid $primary-color;
  border-radius: $common-border-radius;
}

.button {
  flex: 1;
  border: none;
  outline: none;
  height: 36px;
  background: $white;
  color: $primary-color;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
  &:hover {
    background: $primary-hover-color;
    color: $white;
  }
  &:first-child {
    border-radius: $common-border-radius 0 0 $common-border-radius;
  }
  &:last-child {
    border-radius: 0 $common-border-radius $common-border-radius 0;
  }
  &.active {
    background: $primary-color;
    color: $white;
  }
}
</style>
