<template>
  <div class="add-event" v-on="$listeners">
    <base-icon-add size="48px" />
  </div>
</template>

<script>
import BaseIconAdd from "@/components/Base/IconAdd";

export default {
  components: {
    BaseIconAdd
  }
};
</script>

<style scoped lang="scss">
.add-event {
  border: 1px dashed #d9d9d9;
  border-radius: $common-border-radius;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s;
  &:hover {
    border-color: $primary-color;
  }
}
</style>
