<template>
  <div>
    <div :class="['header-menu', { active: isActive }]">
      <button
        class="btn btn-menu left"
        @click="showAside('LandingRegistration')"
      >
        Регистрация
      </button>
      <button class="btn btn-menu right" @click="showAside('LandingLogin')">
        Войти
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: Boolean,
    showAside: {
      type: Function,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.header-menu {
  .btn {
    cursor: pointer;
    transition: all 0.2s ease;
    &.btn-menu {
      background: $transparent;
      padding: 5px 20px;
      border: 1px solid $white;
      color: $white;
      border-radius: 5px;
      font-size: 15px;
      line-height: 25px;
      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
    &.left {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &.right {
      border-left: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  &.active {
    .btn-menu {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
</style>
