<template>
  <div>
    <landing-header />
    <landing-content />
    <landing-footer />
    <base-drawer :visible.sync="showAside" size="33%">
      <template #title>
        <img :src="require('@assets/telemice-logo.svg')" />
      </template>
      <component :is="currentAsideState" />
    </base-drawer>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import LandingHeader from "@/components/Page/Landing/Header";
import LandingFooter from "@/components/Page/Landing/Footer";
import LandingContent from "@/components/Page/Landing/Content";
import { AsideFactory } from "@/utils/common";

export default {
  components: {
    LandingHeader,
    LandingFooter,
    LandingContent,
    LandingLogin: () => AsideFactory("Landing/Login"),
    LandingRecovery: () => AsideFactory("Landing/Recovery"),
    LandingPassword: () => AsideFactory("Landing/Password"),
    LandingRegistration: () => AsideFactory("Landing/Registration")
  },
  computed: {
    ...mapState({
      asideVisible: state => state.app.asideVisible,
      currentAsideState: state => state.app.currentAside
    }),
    showAside: {
      get() {
        return this.asideVisible;
      },
      set() {
        return this.asideToggle();
      }
    }
  },
  methods: {
    ...mapActions("app", ["asideToggle"])
  }
};
</script>
