<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { notifyScheme } from "@/utils/common";

export default {
  created() {
    window.addEventListener("API_ERROR", ({ detail: { message } }) => {
      this.$notify(notifyScheme({ message, type: "error" }));
    });
  }
};
</script>

<style lang="scss">
@import "@/styles/main";
</style>
