<template>
  <div class="wrapper">
    <the-header />
    <main class="main">
      <base-aside width="264px" class="nav-menu">
        <ul class="nav-menu__list">
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faBookOpen"
              />
              Информация</a
            >
          </li>
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faUser"
              />
              Администраторы</a
            >
          </li>
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faCalendarPlus"
              />
              Мероприятия</a
            >
          </li>
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faUsers"
              />
              Список участников</a
            >
          </li>
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faCommentAlt"
              />
              Уведомления</a
            >
          </li>
          <li>
            <a href="#" class="nav-menu__link"
              ><base-icon
                class="nav-menu__icon"
                :icon="$options.icons.faSignal"
              />
              Статистика</a
            >
          </li>
        </ul>
      </base-aside>
      <section class="content">
        <slot />
      </section>
    </main>
  </div>
</template>

<script>
import { faUser } from "@fortawesome/free-solid-svg-icons/faUser";
import { faCalendarPlus } from "@fortawesome/free-solid-svg-icons/faCalendarPlus";
import { faUsers } from "@fortawesome/free-solid-svg-icons/faUsers";
import { faSignal } from "@fortawesome/free-solid-svg-icons/faSignal";
import { faBookOpen } from "@fortawesome/free-solid-svg-icons/faBookOpen";
import { faCommentAlt } from "@fortawesome/free-solid-svg-icons/faCommentAlt";
import TheHeader from "@/components/The/Header";

export default {
  icons: {
    faUser,
    faCalendarPlus,
    faUsers,
    faSignal,
    faBookOpen,
    faCommentAlt
  },
  components: {
    TheHeader
  }
};
</script>

<style scoped lang="scss">
.header {
  margin-bottom: 29px;
}

.main {
  display: flex;
}

.nav-menu {
  margin-right: 40px;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__link {
    padding: 17px 22px;
    display: block;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      color: $gray;
      background: none;
    }
    &:hover,
    &:active {
      background: #ebedf1;
      color: $primary-color;
    }
  }

  &__icon {
    margin-right: 18px;
    font-size: 18px;
  }
}

.content {
  flex: 1;
}
</style>
