<template>
  <div class="wrapper">
    <the-header />
    <main>
      <slot />
    </main>
    <base-drawer :visible.sync="showAside" size="33%">
      <component :is="currentAside" v-if="showAside" />
    </base-drawer>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import TheHeader from "@/components/The/Header";

export default {
  components: {
    TheHeader
  },
  computed: {
    ...mapState({
      asideVisible: state => state.app.asideVisible,
      currentAside: state => state.app.currentAside
    }),
    showAside: {
      get() {
        return this.asideVisible;
      },
      set() {
        return this.asideToggle();
      }
    }
  },
  methods: {
    ...mapActions("app", ["asideToggle"])
  }
};
</script>

<style scoped lang="scss">
.header {
  margin-bottom: 29px;
}
</style>
