<template>
  <section class="event-info">
    <header class="section-header">
      <h2 class="title">Информация о мероприятии</h2>
      <base-button type="primary">
        <base-icon :icon="$options.icon" />
        Изменить
      </base-button>
      <!--      <base-button type="primary" @click="asideToggle">-->
      <!--        <base-icon :icon="$options.icon" />-->
      <!--        Изменить-->
      <!--      </base-button>-->
    </header>
    <events-info-table class="table" />
  </section>
</template>

<script>
import { faPen } from "@fortawesome/free-solid-svg-icons/faPen";
import EventsInfoTable from "@/components/Page/Events/InfoTable";

export default {
  icon: faPen,
  components: {
    EventsInfoTable
  }
};
</script>

<style scoped lang="scss">
.event-info {
  padding-top: 4px;
}

.section-header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  margin-top: 0;
}

.table {
  margin-bottom: 40px;
}
</style>
