<template functional>
  <img :src="$options.icon" alt="icon" :style="{ height: props.size }" />
</template>

<script>
import Icon from "./icon.svg";

export default {
  icon: Icon,
  props: {
    size: {
      type: String,
      default: "18px"
    }
  }
};
</script>
