<template>
  <section class="events-container">
    <p class="title">{{ title }}</p>
    <div class="container-wrapper">
      <events-item-add class="item" v-if="showAddEvent" @click="test" />
      <events-item
        class="item"
        v-for="item in events"
        :key="item.hash"
        :event="item"
      >
        <template #action>
          <base-dots-dropdown
            :handle-action="handleAction"
            :dropdown="dropdownList"
          />
        </template>
      </events-item>
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import BaseDotsDropdown from "@/components/Base/DotsDropdown";
import EventsItemAdd from "@/components/Page/Events/Item/Add";
import EventsItem from "@/components/Page/Events/Item";

const EVENT_TYPE_MY = "my";
const EVENT_TYPE_ALL = "all";
const EVENT_TYPE_ARCHIVE = "archive";
const CONTAINER_TYPES = [EVENT_TYPE_ALL, EVENT_TYPE_ARCHIVE, EVENT_TYPE_MY];
const DROPDOWN_TYPES = {
  [EVENT_TYPE_MY]: [
    {
      name: "Редактировать",
      value: "edit"
    },
    {
      name: "Удалить",
      value: "delete"
    }
  ],
  [EVENT_TYPE_ALL]: [
    {
      name: "Удалить",
      value: "delete"
    }
  ],
  [EVENT_TYPE_ARCHIVE]: [
    {
      name: "Восстановить",
      value: "recovery"
    }
  ]
};
const TITLE_MAP = {
  [EVENT_TYPE_MY]: "Мои мероприятия",
  [EVENT_TYPE_ALL]: "Мероприятия",
  [EVENT_TYPE_ARCHIVE]: "Архив мероприятий"
};

export default {
  components: {
    EventsItem,
    EventsItemAdd,
    BaseDotsDropdown
  },
  props: {
    type: {
      type: String,
      required: true,
      validator: val => CONTAINER_TYPES.includes(val)
    },
    events: {
      type: Array,
      required: true
    }
  },
  computed: {
    showAddEvent() {
      return this.type === "my";
    },
    dropdownList() {
      return DROPDOWN_TYPES[this.type];
    },
    title() {
      return TITLE_MAP[this.type];
    }
  },
  methods: {
    ...mapActions({
      asideToggle: "app/asideToggle",
      setAsideType: "app/setAsideType",
      deleteEvent: "events/deleteEvent"
    }),
    test() {
      this.setAsideType("EventsCreate");
      this.asideToggle();
    },
    handleAction(action) {
      alert(action);
      // if(action === 'delete') this.deleteEvent()
    }
  }
};
</script>

<style scoped lang="scss">
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 31px;
}

.item {
  width: 23.63636363636364%;
  margin-bottom: 24px;
  & + & {
    margin-left: 1.818181818181813%;
  }
}
</style>
